<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_yotpo_core">
        <observer name="yotpo_smsbump_admin_system_config_changed_section_yotpo" instance="Yotpo\SmsBump\Observer\Config\Save" />
    </event>
</config>
